:root {
    --black: #000;
}

.background-black {
    background: black
}

.container {
    max-width: 2300px;
    padding: 0 5%;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ul1 {
    display: flex;
    align-items: center;
    padding-right: 18%;
    padding-left: 25%;
}

.ul1 li {
    margin: 0 36px;
    font-size: 20px;
    color: white;
}

.ul2 {
    display: flex;
    align-items: center;
}

.ul2 li {
    margin: 0 45px;
    font-size: 20px;
    color: white;
}

.Register {
    border: 1px solid white;
    padding: 25px;
    border-radius: 54px;
}

.planos {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 96px;
    opacity: 0.4;
    position: absolute;
    left: 735px;
    padding-top: 200px;
}

.images {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 18%;
    padding-left: 18%;
    padding-top: 28%;
}


.basic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    position: absolute;
    left: 475px;
    padding-top: 20px;
}

.standard {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    position: absolute;
    left: 900px;
    padding-top: 20px;
}

.pro {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    position: absolute;
    left: 1370px;
    padding-top: 20px;
}

.basic1 {
    width: 280px;
    height: 273px;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 14px;
    position: absolute;
    left: 370px;
    padding-top: 85px;
    text-align: center;
}

.standard1 {
    width: 280px;
    height: 294px;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 14px;
    position: absolute;
    left: 820px;
    padding-top: 85px;
    text-align: center;
}

.pro1 {
    width: 280px;
    height: 294px;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 14px;
    position: absolute;
    left: 1250px;
    padding-top: 85px;
    text-align: center;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 75%;
    padding-right: 100px;
    padding-top: 530px;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 20px;
}

.footer1 {
    position: absolute;
    top: 1610px;
    left: 40px;
}

.email {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 17px;
}

.informed {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
}

footer {
    padding: 70px;
}