:root{
    --bg-primary: #000000;
    --text-light: #FFFFFF;
    --text-black: #000000;
    --body-color: #c0c0c0;
}

body {
    background-color: var(--text-light);
}


header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
    background-color: var(--body-color);
    color: var(--text-black);
    height: fit-content;
    opacity: 0.9;

    /*para scroll da página*/
    position: sticky;
    top: 0;
    z-index: 1;

    padding: 12px 0;
}

header nav ul{
    margin: 0 auto;
    width: fit-content;

    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0 2rem;
}

header nav ul li{
    min-width: fit-content;
    height: fit-content;
    padding: 0 0.75rem;
    font-size: small;
    cursor: pointer ;

    list-style: none;
}
